<h2 mat-dialog-title>DETAILS</h2>
<mat-dialog-content class="mat-typography">
  <h3>cause</h3>
  <p>Tuberculosis (TB) is caused by a type of bacterium called Mycobacterium tuberculosis.
     It's spread when a person with active TB disease in their lungs coughs or sneezes and
      someone else inhales the expelled droplets, which contain TB bacteria. </p>

  <h3>Symptoms</h3>
  <p>Signs of active TB disease include:

    A cough that lasts more than 3 weeks,
    Chest pain,
    Coughing up blood,
    Feeling tired all the time,
    Night sweats,
    Chills,
    Fever,
    Loss of appetite,
    Weight loss
    </p>

  <h3>Treatment and Care</h3>
  <p>The most common treatment for active TB is isoniazid INH in combination with three other drugs—rifampin, pyrazinamide and ethambutol. You may begin to feel better only a few weeks after starting to take the drugs but treating TB takes much longer than other bacterial infections.</p>
    
   
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>GOT IT</button>
</mat-dialog-actions>



