<h2 mat-dialog-title>DETAILS</h2>
<mat-dialog-content class="mat-typography">
  <h3>cause</h3>
  <h3>type 1</h3>
  <p>Type 1 diabetes occurs when your immune system, the body’s 
    system for fighting infection, attacks and destroys the insulin-producing beta
    cells of the pancreas. Scientists think type 1 diabetes is caused by genes
    and environmental factors, such as viruses, that might trigger the disease</p>

<h3>type 2</h3>
<p>Type 2 diabetes—the most common form of diabetes—is caused by 
    several factors, including lifestyle factors and genes.</p>
  <h3>Symptoms</h3>
  <p>Hunger and fatigue.</p>
  <p>Peeing more often and being thirstier. </p>
  <p>Dry mouth and itchy skin</p>
  <p>Blurred vision.</p>
  <p>Unplanned weight loss.</p>
  <p>Nausea and vomiting.</p>

<h3>Warning Signs of Diabetes Complications</h3>
    <ul>
        <li>Slow-healing sores or cuts</li>
        <li>Itchy skin (usually around the vaginal or groin area)</li>
        <li>Frequent yeast infections</li>
        <li>Recent weight gain</li>
        <li>Velvety, dark skin changes of the neck, armpit, and groin, called acanthosis nigricans</li>
        <li>Numbness and tingling of the hands and feet</li>
        <li>Decreased vision</li>
        <li>Impotence or erectile dysfunction (ED)</li>

    </ul>

  <h3>Treatment and Care</h3>
  <p>Management of type 2 diabetes includes:</p>
  <p>Weight loss</p> 
  <p>Healthy eating</p> 
  <p>Regular exercise</p> 
  <p>Possibly, diabetes medication or insulin therapy</p> 
  <p>Blood sugar monitoring</p> 
  
    
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>GOT IT</button>
</mat-dialog-actions>

