<header>Look up diseases</header>
<div class="wrapper-grid">
    <div class="container1">
        <h1>DANGUE</h1>
        <p class="description">Dengue (pronounced DENgee) fever is a painful, debilitating mosquito-borne disease caused 
            by any one of four closely related dengue viruses. These viruses are related to the viruses that cause West
            Nile infection and yellow fever.

 
        </p>
        <button mat-button style="background-color: white;" (click)="opendengue()">View Details</button>
    </div>

    <div class="container1">
        <h1>HYPERTENSION</h1>
        <p class="description">High blood pressure is a common condition in which the long-term force of the blood against
             your artery walls is high enough that it may eventually cause health problems,
             The more blood your heart pumps , the higher your blood pressure
        </p>
        <button mat-button style="background-color: white;" (click)="openhypertension()">View Details</button>
    </div>

    <div class="container1">
        <h1>TUBERCULOSIS</h1>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        </p>
        <button mat-button style="background-color: white;" (click)="opentuber()">View Details</button>
    </div>

    <div class="container1">
        <h1>MULTIPLE SCLEROSIS</h1>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        </p>
        <button mat-button style="background-color: white;" (click)="openmultiple()">View Details</button>
    </div>

    <div class="container1">
        <h1>INFLUENZA</h1>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        </p>
        <button mat-button style="background-color: white;" (click)="openinfluenza()">View Details</button>
    </div>

    <div class="container1">
        <h1>LIVER DISEASE</h1>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        </p>
        <button mat-button style="background-color: white;" (click)=" openliver()">View Details</button>
    </div>

    <div class="container1">
        <h1>TYPHOID</h1>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        </p>
        <button mat-button style="background-color: white;" (click)="opentyphoid()">View Details</button>
    </div>

    <div class="container1">
        <h1>HEPATITIS</h1>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        </p>
        <button mat-button style="background-color: white;" (click)="openhepatitis()">View Details</button>
    </div>

    <div class="container1">
        <h1>ALLERGY</h1>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        </p>
        <button mat-button style="background-color: white;" (click)="openallergy()">View Details</button>
    </div>

    <div class="container1">
        <h1>ASTHAMA</h1>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        </p>
        <button mat-button style="background-color: white;" (click)="openasthama() ">View Details</button>
    </div>
    <div class="container1">
        <h1>ALZHEIMER</h1>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        </p>
        <button mat-button style="background-color: white;" (click)="openalzhemier() ">View Details</button>
    </div>
    <div class="container1">
        <h1>BRAIN TUMOR</h1>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        </p>
        <button mat-button style="background-color: white;" (click)="openbrain()">View Details</button>
    </div>
    <div class="container1">
        <h1>DIABETES</h1>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        </p>
        <button mat-button style="background-color: white;" (click)=" opendiabetes()">View Details</button>
    </div>
    <div class="container1">
        <h1>APPENDIX</h1>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        </p>
        <button mat-button style="background-color: white;" (click)="openappendix() ">View Details</button>
    </div>
    <div class="cBontainer1">
        <h1>ACNESCARS</h1>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        </p>
        <button mat-button style="background-color: white;" (click)=" openacne()">View Details</button>
    </div>