<header>Look up diseases</header>
<div class="wrapper-grid">
    <div class="container1">
        <h1>DANGUE</h1>
        <p class="description">Dengue (pronounced DENgee) fever is a painful, debilitating mosquito-borne disease caused 
            by any one of four closely related dengue viruses. These viruses are related to the viruses that cause West
            Nile infection and yellow fever.

 
        </p>
        <button mat-button style="background-color: white;" (click)="opendengue()">View Details</button>
    </div>

    <div class="container1">
        <h1>HYPERTENSION</h1>
        <p class="description">High blood pressure is a common condition in which the long-term force of the blood against
             your artery walls is high enough that it may eventually cause health problems,
             The more blood your heart pumps , the higher your blood pressure
        </p>
        <button mat-button style="background-color: white;" (click)="openhypertension()">View Details</button>
    </div>

    <div class="container1">
        <h1>TUBERCULOSIS</h1>
        <p class="description">Tuberculosis (TB) is a contagious infection that usually attacks your lungs. It can also spread
             to other parts of your body, like your brain and spine. A type of bacteria called Mycobacterium tuberculosis causes it.
        </p>
        <button mat-button style="background-color: white;" (click)="opentuber()">View Details</button>
    </div>

    <div class="container1">
        <h1>MULTIPLE SCLEROSIS</h1>
        <p class="description">Multiple sclerosis (MS) is a potentially disabling
             disease of the brain and spinal cord (central nervous system).
        </p>
        <button mat-button style="background-color: white;" (click)="openmultiple()">View Details</button>
    </div>

    <div class="container1">
        <h1>INFLUENZA</h1>
        <p class="description">Influenza, commonly known as "the flu", is an infectious disease caused by an influenza virus.
             Symptoms can be mild to severe. The most common symptoms include: high fever, runny nose, sore throat, muscle and 
             joint pain, headache, coughing, and feeling tired.
        </p>
        <button mat-button style="background-color: white;" (click)="openinfluenza()">View Details</button>
    </div>

    <div class="container1">
        <h1>LIVER DISEASE</h1>
        <p class="description">Liver disease can be inherited (genetic). Liver problems can also be caused by a variety of
             factors that damage the liver, such as viruses, alcohol use and obesity.
        </p>
        <button mat-button style="background-color: white;" (click)=" openliver()">View Details</button>
    </div>

    <div class="container1">
        <h1>TYPHOID</h1>
        <p class="description">Typhoid is a bacterial infection that can lead to a high fever, diarrhea, and vomiting. 
            It can be fatal. It is caused by the bacteria Salmonella typhi. The infection is often passed on through
             contaminated food and drinking water, and it is more prevalent in places where handwashing is less frequent.

        </p>
        <button mat-button style="background-color: white;" (click)="opentyphoid()">View Details</button>
    </div>

    <div class="container1">
        <h1>HEPATITIS</h1>
        <p class="description">Hepatitis refers to an inflammatory condition of the liver. It's commonly caused by a viral infection, 
            but there are other possible causes of hepatitis. These include autoimmune hepatitis and hepatitis that occurs as a secondary 
            result of medications, drugs, toxins, and alcohol.
        </p>
        <button mat-button style="background-color: white;" (click)="openhepatitis()">View Details</button>
    </div>

    <div class="container1">
        <h1>ALLERGY</h1>
        <p class="description">An allergy is an immune system response to a foreign substance that's not typically harmful 
            to your body. These foreign substances are called allergens. They can include certain foods, pollen, or pet dander. 
            Your immune system's job is to keep you healthy by fighting harmful pathogens.
        </p>
        <button mat-button style="background-color: white;" (click)="openallergy()">View Details</button>
    </div>

    <div class="container1">
        <h1>ASTHAMA</h1>
        <p class="description">Asthma is a long-term disease of the lungs. It causes your airways to get inflamed and narrow,
             and it makes it hard to breathe. Severe asthma can cause trouble talking or being active. You might hear your
              doctor call it a chronic respiratory disease.
        </p>
        <button mat-button style="background-color: white;" (click)="openasthama() ">View Details</button>
    </div>
    <div class="container1">
        <h1>ALZHEIMER</h1>
        <p class="description">Alzheimer's disease is an irreversible, progressive brain disorder that slowly destroys memory 
            and thinking skills and, eventually, the ability to carry out the simplest tasks. In most people with the 
            disease—those with the late-onset type—symptoms first appear in their mid-60s
        </p>
        <button mat-button style="background-color: white;" (click)="openalzhemier() ">View Details</button>
    </div>
    <div class="container1">
        <h1>BRAIN TUMOR</h1>
        <p class="description">A brain tumor is a collection, or mass, of abnormal cells in your brain. Your skull, which
             encloses your brain, is very rigid. Any growth inside such a restricted space can cause problems. Brain tumors
              can be cancerous (malignant) or noncancerous (benign).
        </p>
        <button mat-button style="background-color: white;" (click)="openbrain()">View Details</button>
    </div>
    <div class="container1">
        <h1>DIABETES</h1>
        <p class="description"> Diabetes is a chronic (long-lasting) health condition that affects how your body turns food
             into energy. Most of the food you eat is broken down into sugar (also called glucose) and released into your 
             bloodstream. When your blood sugar goes up, it signals your pancreas to release insulin.
        </p>
        <button mat-button style="background-color: white;" (click)=" opendiabetes()">View Details</button>
    </div>

    <div class="container1">
        <h1>APPENDIX</h1>
        <p class="description">Appendicitis is an inflammation of the appendix. It's a medical emergency that almost always
             requires surgery as soon as possible to remove the appendix. Luckily, you can live just fine without it.</p>


        <button mat-button style="background-color: white;" (click)="openappendix() ">View Details</button>
    </div>
    