<div class="container">
    <!-- Content here -->
    <h1><p class="text-danger"><strong>Round1</strong></p></h1>
   
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Any disease?</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">We'll never share your priviacy with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Any genetic disorder?</label>
          <input type="text" class="form-control" id="exampleInputEmail1">
        </div>
        <p>Your age?</p>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Between 1-15 yrs
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Between 16-30 yrs
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              30 above yrs
            </label>
        </div>

        <p> Your gender?</p>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Male</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Female</label>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Are you sure with provided info </label>
        </div>
        <button (click)="goToPage('Covid2')" class="button1" mat-button color="accent">Lets proceed further</button>
    </form>
</div>
