<div class="container">
    <!-- Content here -->
    <h1><p class="text-danger"><strong>Round1</strong></p></h1>
   
    <form [formGroup]="covid1Form">
        <div class="form-group">
          <label>Any disease?</label>
          <input type="text"
          formControlName="disease"
          class="form-control"
          placeholder="Enter disease">
          <small id="emailHelp" class="form-text text-muted">We'll never share your priviacy with anyone else.</small>
        </div>
        <div class="form-group">
          <label >Any genetic disorder?</label>
          <input type="text"
          formControlName="geneticDisorder"
          class="form-control"
          placeholder="Any Genetic Disorder">
        </div>
        <p>Your age?</p>
        <div id="age">
            <label><input type="radio" name="age" value="10">
            
                Between 1-15 yrs
            </label>
            <label><input type="radio" name="age" value="20">
        
                Between 16-30 yrs
            </label>
            <label><input type="radio" name="age" value="35">
            
              30 above yrs
            </label>
        </div>

        <p> Your gender?</p>
        <div class="form-check form-check-inline" id = "gender">
            <label><input  type="radio" name="gender" value="male">
            Male</label>
            <label><input  type="radio" name="gender" value="female">
            Female</label>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Are you sure with provided info </label>
        </div>
        <button (click)="goToPage('covid2')" class="button1" mat-button color="accent">Lets proceed further</button>
    </form>
</div>
