<h2 mat-dialog-title>DETAILS</h2>
<mat-dialog-content class="mat-typography">
  <h3>cause</h3>
  <p> An allergy starts when your immune system mistakes a normally harmless substance for a dangerous invader. The immune system then produces antibodies that remain on the alert for that particular allergen. When you're exposed to the allergen again, these antibodies can release a number of immune system chemicals, such as histamine, that cause allergy symptoms.

    Common allergy triggers include:</p>
    
    <p>Airborne allergens, such as pollen, animal dander, dust mites and mold</p>
      <p>Certain foods, particularly peanuts, tree nuts, wheat, soy, fish, shellfish, eggs and milk</p>
        <p>Insect stings, such as from a bee or wasp</p>
          <p>Medications, particularly penicillin or penicillin-based antibiotics</p>
            <p>Latex or other substances you touch, which can cause allergic skin reactions</p>

  <h3>Symptoms</h3>
  <p>Allergy symptoms, which depend on the substance involved, can affect your airways, sinuses and nasal passages, skin, and digestive system. Allergic reactions can range from mild to severe. In some severe cases, allergies can trigger a life-threatening reaction known as anaphylaxis.

    Hay fever, also called allergic rhinitis, can cause:</p>
    
    <p>Sneezing
    Itching of the nose, eyes or roof of the mouth
    Runny, stuffy nose
    Watery, red or swollen eyes (conjunctivitis)</p>
    <p>A food allergy can cause:
    
    Tingling in the mouth
    Swelling of the lips, tongue, face or throat
    Hives
    Anaphylaxis</p>
    <p>An insect sting allergy can cause:
    
    A large area of swelling (edema) at the sting site
    Itching or hives all over the body
    Cough, chest tightness, wheezing or shortness of breath
    Anaphylaxis</p>
    <p>A drug allergy can cause:
    
    Hives
    Itchy skin
    Rash
    Facial swelling
    Wheezing
    Anaphylaxis</p>
    <p>Atopic dermatitis, an allergic skin condition also called eczema, can cause skin to:
    
    Itch
    Redden
    Flake or peel
    Anaphylaxis</p>
    <p>Some types of allergies, including allergies to foods and insect stings, can trigger a severe reaction known as anaphylaxis. A life-threatening medical emergency, anaphylaxis can cause you to go into shock. Signs and symptoms of anaphylaxis include:
    
    Loss of consciousness
    A drop in blood pressure
    Severe shortness of breath
    Skin rash
    Lightheadedness
    A rapid, weak pulse
    Nausea and vomiting</p>

  <h3>Treatment and Care</h3>
  <p>The best way to keep your symptoms under control is often to avoid the things you're allergic to, although this is not always practical.</p>
  <p>Medicines for mild allergies are available from pharmacies without a prescription.

    But always ask a pharmacist or GP for advice before starting any new medicine, as they're not suitable for everyone.</p>
  <ul>
    <li>Antihistamines</li>
    <li>Decongestants</li>
    <li>Lotions and creams</li>
    <li>Steroids</li>
    <li>Immunotherapy (desensitisation) </li>
  </ul>
   
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>GOT IT</button>
</mat-dialog-actions>
