<h2 mat-dialog-title>DETAILS</h2>
<mat-dialog-content class="mat-typography">
  <h3>cause</h3>
<p>The cause of multiple sclerosis is unknown. It's considered an autoimmune disease in which the body's immune system attacks its own tissues. In the case of MS, this immune system malfunction destroys the fatty substance that coats and protects nerve fibers in the brain and spinal cord (myelin).</p>



<h3>Symptoms</h3>

<p>Multiple sclerosis signs and symptoms may differ greatly from person to person and over the course of the disease depending on the location of affected nerve fibers. Symptoms often affect movement, such as:</p>

<p>Numbness or weakness in one or more limbs that typically occurs on one side of your body at a time, or your legs and trunk
    Electric-shock sensations that occur with certain neck movements, especially bending the neck forward (Lhermitte sign)
    Tremor, lack of coordination or unsteady gait
    Vision problems are also common, including:</p>

<p>Partial or complete loss of vision, usually in one eye at a time, often with pain during eye movement
    Prolonged double vision
    Blurry vision</p>
<p>Multiple sclerosis symptoms may also include:

    Slurred speech
    Fatigue
    Dizziness
    Tingling or pain in parts of your body
    Problems with sexual, bowel and bladder function</p>

<h3>Treatment and Care</h3>
<p>There is no cure for multiple sclerosis. Treatment typically focuses on speeding recovery from attacks, slowing the progression of the disease and managing MS symptoms.</p>
    <p>
    Infusion treatments include:
    Ocrelizumab (Ocrevus). ...
    Natalizumab (Tysabri). ...
    Alemtuzumab (Campath, Lemtrada).</p>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>GOT IT</button>
</mat-dialog-actions>