<head>
    <title>About Us</title>
</head>
<body>
    <div class="header">
        <div class="main">
            <h1>About Us...</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

            </p>
            <h1>Created By</h1>
            <ol style="font-family: 'Times New Roman', Times, serif;">
                <li>Muhammad Ibad Asif (Cs-18108)</li>
                <li>Mazhar Uddin Abbasi (Cs-18104)</li>
                <li>Dua-e-Fatima (Cs-18097)</li>
                <li>Summaiya Mehmood (Cs-18091)</li>
            </ol>
            <img class="image" src="../../assets/ibad.png">
            <img class="image" src="../../assets/mazhar.png">
            <img class="image" src="../../assets/duay.png">
            <img class="image" src="../../assets/summaiya.png">

            
        </div>
    </div>
</body>