<head>
    <title>About Us</title>
</head>
<body>
    <div class="header">
        <div class="main">
            <h1>About Us...</h1>
            <h2>Hello visitor</h2>
                 <p>we welcome you on our very own website saftey1st.
                   we have assumed that this time you needed us most. During the
                   pendamic time covid-19 made us suffer alot of bad which effect human life badly.
                   so we thaught that there must be something with which we can help the nation to
                   overcome this battle and make most out of this to take care of theirselves. 
                   our idea to make this website comes after when there is a huge rush in hospitals
                   and this may increase the covid rate due to contraction and not mainting distance.
                   But now, if you want any guidance and instant help regarding normal disease
                   you can take help from our website. <br>for any guidance you can directly contact on our website.
                 </p> THANKYOU
                 <br>
            <h1>Created By</h1>
            <ol style="font-family: 'Times New Roman', Times, serif;">
                <li>Muhammad Ibad Asif (Cs-18108)</li>
                <li>Mazhar Uddin Abbasi (Cs-18104)</li>
                <li>Dua-e-Fatima (Cs-18097)</li>
                <li>Summaiya Mehmood (Cs-18091)</li>
            </ol>
            <img class="image" src="../../assets/ibad.png">
            <img class="image" src="../../assets/mazhar.png">
            <img class="image" src="../../assets/duay.png">
            <img class="image" src="../../assets/summaiya.png">

            
        </div>
    </div>
</body>