<mat-toolbar color='warn' class="mat-elevation-z6">
    <span> <mat-icon>medical_services</mat-icon> SAFETY1st</span>
    <div class="spacer"></div>
    <div *ngIf="accountType == 'Admin' ">
    <a routerLink="/doctor-form" mat-button>Add Doctors</a></div>
    <div *ngIf="loggedInUser == null ">
      <a routerLink="" mat-button>Login</a></div>
    <a routerLink="/home" mat-button>Home</a>
    <div *ngIf="accountType == 'User' ">
    <a routerLink="/service" mat-button>Services</a></div>
    <a routerLink="/about" mat-button>About Us</a>
    <div *ngIf="loggedInUser != null ">
      <a (click)="logout()" mat-button>Log Out</a></div>
  </mat-toolbar>
  
  