<h2 mat-dialog-title>DETAILS</h2>
<mat-dialog-content class="mat-typography">
  <h3>cause</h3>
  <p> The causes probably include a combination of age-related changes in the brain, along with genetic, environmental, and lifestyle factors. The importance of any one of these factors in increasing or decreasing the risk of Alzheimer's disease may differ from person to person.</p>

  <h3>Symptoms</h3>
  <p>The most common early symptom of Alzheimer's is difficulty remembering newly learned information because Alzheimer's changes typically begin in the part of the brain that affects learning. As Alzheimer's advances through the brain it leads to increasingly severe symptoms, including disorientation, mood and behavior changes; deepening confusion about events, time and place; unfounded suspicions about family, friends and professional caregivers; more serious memory loss and behavior changes; and difficulty speaking, swallowing and walking.</p>

    <p>People with memory loss or other possible signs of Alzheimer’s may find it hard to recognize they have a problem. Signs of dementia may be more obvious to family members or friends. Anyone experiencing dementia-like symptoms should see a doctor as soon as possible.</p>

  <h3>Treatment and Care</h3>
  <p>There is no known cure for Alzheimer’s disease. It is not possible to reverse the death of brain cells.

    Treatments can, however, relieve its symptoms and improve quality of life for the person and their family and caregivers.
    
    The following are important elements of dementia care:</p>
    
    <p>effective management of any conditions occurring alongside Alzheimer’s</p>
      <p>activities and daycare programs</p>
        <p>involvement of support groups and services</p>
          <p>The sections below will discuss medications and treatments for behavioral changes.</p>
    
   
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>GOT IT</button>
</mat-dialog-actions>
