<h2 mat-dialog-title>DETAILS</h2>
<mat-dialog-content class="mat-typography">
  <h3>cause</h3>
  <p>Different things can cause serious liver conditions. You’ll want to know about the top causes. </p>
<p>Infections
  Sometimes, the problem is that you have an infection that inflames your liver. Viral hepatitis is the most common cause, including:</p>
<p>Immune System Problems
  Your immune system fights off invaders including bacteria and viruses. But it might go wrong and attack one or more parts of your body, such as your liver.</p>
<p>Cancer and Tumors
  If cancer shows up in your liver, that’s most likely because it has spread from another part of your body, like your lungs, colon, or breasts. But a few cancers can start in the liver.</p>

  <h3>Symptoms</h3>
  <p>if signs and symptoms of liver disease do occur, the may include:</p>
  <p> Skin and eyes that appear yellowish (jaundice)</p>
    <p> Abdominal pain and swelling.</p>
    <p> Swelling in the legs and ankles.</p>
    <p>Itchy skin.</p>
      <p>Dark urine color.</p>
        <p>Pale stool color.</p>
          <p>Chronic fatigue.</p>
            <p>Nausea or vomiting.</p>

  <h3>Treatment and Care</h3>
  <p>Depending on the condition affecting your liver, you may also need medical treatment, such as:</p>
    <p>antiviral drugs to treat hepatitis.</p>
    <p>steroids to reduce liver inflammation.</p>
    <p>blood pressure medication.</p>
    <p>antibiotics.</p>antibiotics.
    <p>>medications to target specific symptoms, such as itchy skin.</p>
    <p>vitamins and supplements to boost liver health.</p>
    
   
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>GOT IT</button>
</mat-dialog-actions>
