<h2 mat-dialog-title>DETAILS</h2>
<mat-dialog-content class="mat-typography">
  <h3>cause</h3>
  <p> Primary brain tumors begin when normal cells acquire errors (mutations) in their DNA. These mutations allow cells to grow and divide at increased rates and to continue living when healthy cells would die. The result is a mass of abnormal cells, which forms a tumor.

    In adults, primary brain tumors are much less common than are secondary brain tumors, in which cancer begins elsewhere and spreads to the brain.
    
    Many different types of primary brain tumors exist. Each gets its name from the type of cells involved. Examples include:
    </p>
    <ul>
      <li>(Gliomas) These tumors begin in the brain or spinal cord and include astrocytomas, ependymomas, glioblastomas, oligoastrocytomas and oligodendrogliomas.</li>
      <li>(Meningiomas) A meningioma is a tumor that arises from the membranes that surround your brain and spinal cord (meninges). Most meningiomas are noncancerous.</li>
      <li>Acoustic neuromas (schwannomas). These are benign tumors that develop on the nerves that control balance and hearing leading from your inner ear to your brain.</li>
    </ul>

  <h3>Symptoms</h3>
  <p>The signs and symptoms of a brain tumor vary greatly and depend on the brain tumor's size, location and rate of growth.

    General signs and symptoms caused by brain tumors may include:</p>
    <ul>
    <li> or change in pattern of headaches</li>
      <li>Headaches that gradually become more frequent and more severe</li>
        <li>Unexplained nausea or vomiting</li>
          <li>Vision problems, such as blurred vision, double vision or loss of peripheral vision</li>
            <li>Gradual loss of sensation or movement in an arm or a leg</li>
              <li>Difficulty with balance</li>
                <li>Speech difficulties</li>
                  <li>Confusion in everyday matters</li>
                    <li>Personality or behavior changes</li>
                      <li>Seizures, especially in someone who doesn't have a history of seizures</li>
                        <li>Hearing problems</li>
    </ul>

  <h3>Treatment and Care</h3>
  <p>such as surgery, radiation therapy, chemotherapy, and targeted therapy.</p>

  <p>For a low-grade brain tumor, surgery may be the only treatment needed especially if all of the tumor can be removed.
     If there is visible tumor remaining after surgery, radiation therapy and chemotherapy may be used. For higher-grade tumors, 
     treatment usually begins with surgery, followed by radiation therapy and chemotherapy. Your exact treatment plan will be made
      by your health care team.</p>
    
   
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>GOT IT</button>
</mat-dialog-actions>
