<h2 mat-dialog-title>DETAILS</h2>
<mat-dialog-content class="mat-typography">
  <h3>cause</h3>
  <p>Dengue fever is transmitted by the bite of an Aedes mosquito infected with a dengue virus.
     The mosquito becomes infected when it bites a person with dengue virus in their blood. 
     It can’t be spread directly from one person to another person. </p>

  <h3>Symptoms</h3>
  <p>Symptoms of Dengue Fever
    Symptoms, which usually begin four to six days after infection and last for up to 10 days, may include
    Sudden, high fever
    Severe headaches
    Pain behind the eyes
    Severe joint and muscle pain
    Fatigue
    Nausea
    Vomiting
    Skin rash, which appears two to five days after the onset of fever
    Mild bleeding (such a nose bleed, bleeding gums, or easy bruising)</p>

  <h3>Treatment and Care</h3>
  <p>There is no direct treatment for dengue. Initial measures include bed rest and high intake of fluids to
     counteract dehydration from vomiting. Normal painkillers such as aspirin are to be avoided as they lead 
     to complications. Acetaminophen may be taken instead to reduce fever and decrease muscle pain. In severe
     cases of dengue fever you may require supportive care at the hospital where you will be monitored for:</p>
     <p>dehyderation  and replacement of electrolytes</p> 
    <p>Platelets count and transfusion in case of blood loss</p>
    
    <p>Blood pressure monitoring​</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>GOT IT</button>
</mat-dialog-actions>

