body {
    background-color: #3f5185;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerStyle {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    margin-top:45px; 
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 45px;
}

.container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.box1 {
    height: 450px;
    color: black;
    border: 10px solid goldenrod;
    margin-bottom: 190px;
    position: relative;
    border-radius: 70px;
    background-color: gold;

}

.box2 {
    height: 450px;
    color: black;
    border: 10px solid mediumseagreen;
    margin-bottom: 190px;
    position: relative;
    border-radius: 70px;
    background-color: seagreen;

}

.box3 {
    height: 450px;
    color: black;
    border: 10px solid darkred;
    position: relative;
    margin-bottom: 190px;
    border-radius: 70px;
    background-color:crimson;

}

h2 {
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 50%;
    color: white;
    font-weight: bold;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%,-50%);
    margin-bottom: 50px;
}

h3 {
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 50%;
    color: black;
    left: 50%;
    font-weight: bold;
    font-size: 19px;
    transform: translate(-50%,-50%);
    margin-bottom: 50px;
}

.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10px;
}

.para1 {
    text-align: center;
    margin-top: 60px;
    font-size: 18px;
}

.para2 {
    text-align: center;
    margin-top: 70px;
    font-size: 18px;
}

.para3 {
    text-align: center;
    margin-top: 60px;
    font-size: 18px;
}

.btnStyle1 {
    margin-top: 10px;
    margin-left: 120px;
    background-color: black;
    color: white;
}

.btnStyle2 {
    margin-top: 10px;
    margin-left: 130px;
}

.btnStyle3 {
    margin-top: 10px;
    margin-left: 130px;
    background-color: black;
    color: white;
}