<h2 mat-dialog-title>DETAILS</h2>
<mat-dialog-content class="mat-typography">
  <h3>cause</h3>
  <p> Typhoid fever is caused by dangerous bacteria called Salmonella typhi. Salmonella typhi is related to the bacteria that cause salmonellosis, another serious intestinal infection, but they aren't the same.</p>

  <h3>Symptoms</h3>
  <p>Typhoid fever and paratyphoid fever have similar symptoms̵. People usually have a sustained fever (one that doesn’t come and go) that can be as high as 103–104°F (39–40°C).

    sick with stomach pains
    Other symptoms of typhoid fever and paratyphoid fever include
    
  </p>
  <ul>
    <li>Weakness</li>
      <li>Stomach pain</li>
        <li>Headache</li>
          <li>Diarrhea or constipation</li>
            <li>Cough</li>
              <li>Loss of appetite</li>
                <li>Some people with typhoid fever or paratyphoid fever develop a rash of flat, rose-colored spots.</li>
  </ul>

  <h3>Treatment and Care</h3>
  <p>Typhoid fever and paratyphoid fever are treated with antibiotics.

    Resistance to antibiotics is increasing pdf icon[PDF – 516 KB] in the bacteria that cause these diseases. When bacteria are resistant to antibiotics, the bacteria are not killed and their growth is not stopped when antibiotics are taken. Your doctor may order special tests to see if the bacteria causing your infection are resistant. Results from those tests may affect what antibiotic treatment you receive.
    
    People who do not get appropriate antibiotic treatment may have fever for weeks or months and may develop complications. People who do not get treatment can die from complications of the infection.</p>
    
   
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>GOT IT</button>
</mat-dialog-actions>
