<h2 mat-dialog-title>DETAILS</h2>
<mat-dialog-content class="mat-typography">
  <h3>cause</h3>
  <p> Alcohol and other toxins
    Excessive alcohol consumption can cause liver damage and inflammation. This is sometimes referred to as alcoholic hepatitis. The alcohol directly injures the cells of your liver. Over time, it can cause permanent damage and lead to liver failure and cirrhosis, a thickening and scarring of the liver.
    
    Other toxic causes of hepatitis include overuse or overdose of medications and exposure to poisons.</p>
    
   <p> Autoimmune system response
    In some cases, the immune system mistakes the liver as a harmful object and begins to attack it. It causes ongoing inflammation that can range from mild to severe, often hindering liver function. It’s three times more common in women than in men.</p>
  <h3>types</h3>
  <p>Viral infections of the liver that are classified as hepatitis include hepatitis A, B, C, D, and E. A different virus is responsible for each type of virally transmitted hepatitis.</p>

    <p>Hepatitis A is always an acute, short-term disease, while hepatitis B, C, and D are most likely to become ongoing and chronic. Hepatitis E is usually acute but can be particularly dangerous in pregnant women.</p>
    
      <p>Hepatitis A
    Hepatitis A is caused by an infection with the hepatitis A virus (HAV). This type of hepatitis is most commonly transmitted by consuming food or water contaminated by feces from a person infected with hepatitis A.</p>
    
    <p>Hepatitis B
    Hepatitis B is transmitted through contact with infectious body fluids, such as blood, vaginal secretions, or semen, containing the hepatitis B virus (HBV). Injection drug use, having sex with an infected partner, or sharing razors with an infected person increase your risk of getting hepatitis B.</p>
    
    It’s estimated by the CDCTrusted Source that 1.2 million people in the United States and 350 million people worldwide live with this chronic disease.
    
    <p>Hepatitis C
    Hepatitis C comes from the hepatitis C virus (HCV). Hepatitis C is transmitted through direct contact with infected body fluids, typically through injection drug use and sexual contact. HCV is among the most common bloodborne viral infections in the United States. Approximately 2.7 to 3.9 million AmericansTrusted Source are currently living with a chronic form of this infection.</p>
    
    <p>Hepatitis D
    Also called delta hepatitis, hepatitis D is a serious liver disease caused by the hepatitis D virus (HDV). HDV is contracted through direct contact with infected blood. Hepatitis D is a rare form of hepatitis that only occurs in conjunction with hepatitis B infection. The hepatitis D virus can’t multiply without the presence of hepatitis B. It’s very uncommon in the United States.</p>
    
    <p>Hepatitis E
    Hepatitis E is a waterborne disease caused by the hepatitis E virus (HEV). Hepatitis E is mainly found in areas with poor sanitation and typically results from ingesting fecal matter that contaminates the water supply. This disease is uncommon in the United States. However, cases of hepatitis E have been reported in the Middle East, Asia, Central America, and Africa, according to the CDC</p>

  <h3>Symptoms</h3>
  <p>if you have infectious forms of hepatitis that are chronic, like hepatitis B and C, you may not have symptoms in the beginning. Symptoms may not occur until the damage affects liver function.

    Signs and symptoms of acute hepatitis appear quickly. They include:</p>
    <ul>
    <li>fatigue</li>
      <li>flu-like symptoms</li>
        <li>dark urine</li>
          <li>pale stool</li>
            <li>abdominal pain</li>
              <li>loss of appetite</li>
                <li>unexplained weight loss</li>
                  <li>yellow skin and eyes, which may be signs of jaundice</li>
    </ul>
    <p>Chronic hepatitis develops slowly, so these signs and symptoms may be too subtle to notice.</p>

  <h3>Treatment and Care</h3>
  <p>Antiviral medications. Several antiviral medications — including entecavir (Baraclude), tenofovir (Viread), lamivudine (Epivir), adefovir (Hepsera) and telbivudine (Tyzeka) — can help fight the virus and slow its ability to damage your liver</p>
    
   
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>GOT IT</button>
</mat-dialog-actions>
