<h2 mat-dialog-title>DETAILS</h2>
<mat-dialog-content class="mat-typography">
  <h3>cause</h3>
  <p>Primary hypertension
    Primary hypertension is also called essential hypertension. This kind of hypertension develops over 
    time with no identifiable cause. Most people have this type of high blood pressure.
    Researchers are still unclear what mechanisms cause blood pressure to slowly increase.
    A combination of factors may play a role. These factors include:
    Genes: Some people are genetically predisposed to hypertension. This may be from gene mutations or genetic abnormalities inherited from your parents.
    Physical changes: If something in your body changes, you may begin experiencing issues throughout your body. High blood pressure may be one of those issues.
     For example, it’s thought that changes in your kidney function due to aging may upset the body’s natural balance of salts and fluid. This change may cause your body’s blood pressure to increase.
    Environment: Over time, unhealthy lifestyle choices like lack of physical activity and poor diet can take their toll on your body. Lifestyle choices can 
    lead to weight problems. Being overweight or obese can increase your risk for hypertension.
    Secondary hypertension
    Secondary hypertension often occurs quickly and can become more severe than primary hypertension. Several conditions that may cause secondary hypertension include:</p>
    <p>kidney disease
    obstructive sleep apnea
    congenital heart defects
    problems with your thyroid
    side effects of medications
    use of illegal drugs
    alcohol abuse or chronic use
    adrenal gland problems
    certain endocrine tumors</p>

  <h3>Symptoms</h3>
  <p>Most people with high blood pressure have no signs or symptoms, even if blood pressure readings reach dangerously high levels.

    A few people with high blood pressure may have headaches, shortness of breath or nosebleeds, but these signs and symptoms aren't
    specific and usually don't occur until high blood pressure has reached a severe or life-threatening stage.</p>

  <h3>Treatment and Care</h3>
  <p>Treating high blood pressure can take a multi-pronged approach including diet changes, medication, and exercise.
     Learn about hypertension treatment options here.</p>
     <p>Losing weight if you are overweight or obese
     Quitting smoking
     Eating a healthy diet, including the DASH diet (eating more fruits, vegetables, and low fat dairy products, less saturated and total fat)
     Reducing the amount of sodium in your diet to less than 1,500 milligrams a day if you have high blood pressure; healthy adults should try to limit their sodium intake to no more than 2,300 milligrams a day (about 1 teaspoon of salt).
     Getting regular aerobic exercise (such as brisk walking at least 30 minutes a day, several days a week)
     Limiting alcohol to two drinks a day for men, one drink a day for women
     In addition to lowering blood pressure, these measures enhance the effectiveness of high blood pressure drugs.</p>
     
     <p> to Treat High Blood Pressure
     There are several types of drugs used to treat high blood pressure, including:
     
     Angiotensin-converting enzyme (ACE) inhibitors
     Angiotensin II receptor blockers (ARBs)
     Diuretics
     Beta-blockers
     Calcium channel blockers
     Alpha-blockers
     Alpha-agonists
     Renin inhibitors
     Combination medications</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>GOT IT</button>
</mat-dialog-actions>


