<table mat-table [dataSource]="doctors" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>

        <!-- Name Column -->
    <ng-container matColumnDef="qualification">
      <th mat-header-cell *matHeaderCellDef> Qualification </th>
      <td mat-cell *matCellDef="let element"> {{element.qualifications}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="hospital">
      <th mat-header-cell *matHeaderCellDef> Hospital </th>
      <td mat-cell *matCellDef="let element"> {{element.hospitals}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="clinic">
      <th mat-header-cell *matHeaderCellDef> Clinic </th>
      <td mat-cell *matCellDef="let element"> {{element.clinic}} </td>
    </ng-container>
  
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  