<app-slider></app-slider>

<header style="color: whitesmoke; font-weight: bold; font-family: 'Times New Roman', Times, serif; font-size: 50px; margin-top: 40px; margin-bottom: 40px; text-align: center;">WELCOME TO SAFETY1st</header>
<h2 style="color: whitesmoke; font-size: 25px; font-family: 'Times New Roman', Times, serif; text-align: center; font-weight: bold;">Care your self, We are here</h2>

<div class="wrapper-grid">
  <div class="container1">
    <img style="margin-top: 30px; margin-bottom: 20px;" src="../assets/drinking.png">
    <p class="description"> All systems of the body work better in a water-rich environment. Drink water steadily throughout the day to avoid dehydration</p>
  </div>

  <div class="container2">
    <img style="margin-top: 10px; margin-bottom: 10px;" src="../assets/jogging.png">
    <p class="description">Walking is a great way to improve or maintain your overall health. Just 30 minutes every day can increase cardiovascular fitness, strengthen bones, reduce excess body fat, and boost muscle power and endurance. It can also reduce your risk of developing conditions such as heart disease.</p>
  </div>

  <div class="container3">
    <img style="margin-top: 10px;" src="../assets/stress.png">
    <p class="description"> Being stressed consumes energy and nutrients which could otherwise be used to protect the body. Avoiding stress can help in good sleep and healthy mood. </p>
  </div>

  <div class="container4">
    <img style="margin-top: 30px; margin-bottom: 30px;" src="../assets/sleep.png">
    <p class="description">Getting enough sleep is essential for helping a person maintain optimal health and well-being. When it comes to their health, sleep is as vital as regular exercise and eating a balanced diet.</p>
  </div>

 <div class="container">
   <footer>
     <p style="color: whitesmoke; padding: 10px;">To ensure good health and beautiful life eat lightly, breathe deeply, live moderately, cultivate cheerfulness, and maintain an interest in life.This is the basic essence to life happy healthy and contented life.</p>
   </footer>
 </div>