.example-card {
    max-width: 400px;
    margin-top: 20px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  .center-content{
      text-align: -webkit-center;
  }
  
  .example-full-width {
      margin-top: 10px;
    width: 100%;
  }